.wrapper{
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container{
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}


$maxWidth: 1920; // Масксимальная ширина полотна
$maxWidthContainer: 1200; // Масксимальная ширина ограничивающего контейнера

@mixin adaptivValue ($property, $maxSize, $minSize, $type) {
    $size: $maxSize - $minSize;
    @if $type==1{
        // Если меньше ограничивающего контейнера
        #{$property}: $maxSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$size} * ((100vw - 320px)/#{$maxWidthContainer - 320}));
        }

    } @else if $type==2{
        // Если больше ограничивающего контейнера
        #{$property}: $maxSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$size} * ((100vw - 320px)/#{$maxWidth - 320}));
        }
    } @else {
        // Всегда
        #{$property}: calc(#{$minSize + px} + #{$size} * ((100vw - 320px)/#{$maxWidth - 320}));
    }
}

